# Cf http://www.stderr.nl/Blog/Software/Rails/RailsSocketActivation.html
[Unit]
Description=Mete Matekasse

[Socket]
ListenStream=*:8080

# Socket options matching Puma defaults
NoDelay=true
ReusePort=true
Backlog=1024

Restart=always

[Install]
WantedBy=sockets.target
